---
import Layout from "../../../layouts/Layout.astro";
import { permsHasOneOf, validateUser } from "../../../util/authUtils";
import type { UserCollection } from "../../../util/srlmTypes";
import { SRLMAPIError, srlmGet } from "../../../util/srlmUtils";
import Page401 from '../../401.astro';
import Page403 from '../../403.astro';
import Page404 from '../../404.astro';
import Page500 from '../../500.astro';
import Page503 from '../../503.astro';

var status = '200';


const userToken = Astro.cookies.get('user_token')?.value || '';
const requiredPerms = ['admin', 'leag_coord', 'leag_comm'];
const userValidate = await validateUser(userToken, requiredPerms).catch(err => {
    if (err instanceof SRLMAPIError) {
        status = err.code;
    }
	console.error(err);
});


const user_authorized = permsHasOneOf(userValidate, requiredPerms);

if (!user_authorized) {
    status = '403';
}

var page: string = Astro.url.searchParams.get('page')! || '1';
var per_page: string = Astro.url.searchParams.get('per_page')! || '30';
if (isNaN(+page)) {page='1'}
if (isNaN(+per_page)) {per_page='30'}

const users: UserCollection = await srlmGet(`/users?page=${page}&per_page=${per_page}`).catch(err => {
    if (err instanceof SRLMAPIError) {
        status = err.code;
    }
	console.error(err);
});

---
{status === '401' &&
	<Page401/>
}
{status === '403' &&
	<Page403/>
}
{status === '404' &&
	<Page404/>
}
{status === '500' &&
	<Page500/>
}
{status === '503' &&
	<Page503/>
}
{status === '200' &&
    <Layout title="Manage Users">
        <main class="py-10 sm:container mx-auto text-white">
            <div class="pt-3 pb-10 mx-auto max-w-96 text-center">
                <h2 class="text-4xl">Manage Users</h2>
                <table class="mt-5">
                    <thead class="bg-gray-900">
                        <tr class="divide-x-2 divide-gray-400">
                            <th class="px-2">User</th>
                            <th class="px-2">Player</th>
                            <th class="px-2">Permissions</th>
                            <th colspan="2" class="px-2">Manage</th>
                        </tr>
                    </thead>
                    <tbody>
                        {
                            users.items.map((user, index) => (
                            <tr class={`${(index%2===0 && 'bg-gray-600') || 'bg-gray-700'} divide-x-2 divide-gray-400`}>
                                <td class="px-2">{user.username}</td>
                                <td class="px-2">{user.player?.player_name}</td>
                                <td class="px-2">{user.permissions.join(', ')}</td>
                                <td class="px-2"><a href={`/manage/users/${user.id}`} class="hover:underline">Edit</a></td>
                                <td class="px-2"><a href={`/auth/reset_pass?user=${user.id}`}>Reset Pass</a></td>
                            </tr>
                            ))
                        }
                    </tbody>
                </table>
                <p>
                    {users._links.prev &&
                        <a href={`/manage/users?page=${(+page - 1)}&per_page=${per_page}`}>Prev</a>
                    }
                    {users._links.next &&
                        <a href={`/manage/users?page=${(+page + 1)}&per_page=${per_page}`}>Next</a>
                    }
                </p>
            </div>
        </main>
    </Layout>
}