---
import Layout from "../../../layouts/Layout.astro";
import { permsHasOneOf, validateUser } from "../../../util/authUtils";
import type { SeasonDivision } from "../../../util/srlmTypes";
import { SRLMAPIError, srlmGet, srlmPost } from "../../../util/srlmUtils";
import Page400 from '../../400.astro';
import Page401 from '../../401.astro';
import Page403 from '../../403.astro';
import Page404 from '../../404.astro';
import Page500 from '../../500.astro';
import Page503 from '../../503.astro';

var status = '200';

const userToken = Astro.cookies.get('user_token')?.value || '';
const requiredPerms = ['admin', 'leag_coord', 'leag_comm'];
const userValidate = await validateUser(userToken, requiredPerms).catch(err => {
    if (err instanceof SRLMAPIError) {
        status = err.code;
    }
	console.error(err);
});

const userAuthorized = permsHasOneOf(userValidate, requiredPerms);

if (!userAuthorized) {
    status = '403';
}

const seasonDivisionID = Astro.url.searchParams.get('season_division');

if (Astro.request.method === "POST") {
    try {
        const formData = await Astro.request.formData();

        const matchData = {
            season_division_id: parseInt(seasonDivisionID!),
            round: parseInt(formData.get('round')!.toString()),
            match_week: parseInt(formData.get('match_week')!.toString()),
            home_team_id: parseInt(formData.get('home_team_id')!.toString()),
            away_team_id: parseInt(formData.get('away_team_id')!.toString())
        }

        
        const createMatch = await srlmPost('/match', '', matchData).catch(err => {
            if (err instanceof SRLMAPIError) {
                status = err.code;
            }
            console.error(err);
        });
        
        if (createMatch) {
            return Astro.redirect(`../match/${createMatch.location.replace('/api/match/', '')}`)
        }

    } catch (error) {
        if (error instanceof Error) {
            console.error(error.message);
            status = '500';
        }
    }
}

const seasonDivision: SeasonDivision = await srlmGet(`/season_division/${seasonDivisionID}`).catch(err => {
    if (err instanceof SRLMAPIError) {
        status = err.code;
    }
	console.error(err);
});

type Team = {
    id: number,
    name: string,
    acronym: string,
    color: string
}

const teams: Team[] = await srlmGet(`/season_division/${seasonDivisionID}/teams`).then(resp => resp['teams']).catch(err => {
    if (err instanceof SRLMAPIError) {
        status = err.code;
    }
	console.error(err);
});



---
{status === '400' &&
	<Page400/>
}
{status === '401' &&
	<Page401/>
}
{status === '403' &&
	<Page403/>
}
{status === '404' &&
	<Page404/>
}
{status === '500' &&
	<Page500/>
}
{status === '503' &&
	<Page503/>
}
{status === '200' &&
    <Layout title="create-match">
        <main class="py-10">
            <div class="flex justify-evenly">
                <form class="flex gap-5 flex-col w-2/3 lg:w-1/3 text-white" method="post">
                    <h2 class="text-4xl">Create Match</h2>
                    <label>
                        <b>Season:</b> {seasonDivision.season.name} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Division:</b> {seasonDivision.division.name}
                    </label>
                    <table>
                        <tr>
                            <td class="py-5">
                                <label>
                                    Round:
                                    <input class="text-black" type="number" name="round"/>
                                </label>
                            </td>
                            <td>
                                <label>
                                    Match Week:
                                    <input class="text-black" type="number" name="match_week"/>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="home_team_id">
                                    Home Team:
                                </label>
                                <select class="text-black" name="home_team_id" required>
                                    {
                                        teams.map(team => (
                                            <option 
                                                value={team.id}
                                                style={`background-color: #${team.color}`} >
                                                    {team.name}
                                            </option>    
                                        ))
                                    }
                                </select>
                            </td>
                            <td>
                                <label>
                                    Away Team:

                                </label>
                                <select class="text-black" name="away_team_id" required>
                                    {
                                        teams.map(team => (
                                            <option 
                                                value={team.id}
                                                style={`background-color: #${team.color}`} >
                                                    {team.name}
                                            </option>    
                                        ))
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="py-5 ">
                                <button class="bg-blue-400 bg-opacity-80 hover:shadow-md hover:bg-opacity-60 duration-200 transition-all text-white font-bold py-2 rounded-md shadow-black w-full">
                                    Create Match
                                </button>
                            </td>
                        </tr>
                    </table>
                    
                </form>
            </div>
        </main>
    </Layout>
}