---
import ListPond from './ListPond.astro';

type BodyType = {
    type:string,
    decoration?:boolean,
    items:String[]|ContentType[]
}

type ItemType = {
    heading:string,
    body: BodyType[]|String[]
}

type ContentType = {
    items: ItemType[]
}

type Props = {
    content:ContentType,
    paddingTop?:number
}

const {content, paddingTop} = Astro.props;
---

<section class={`flex w-full justify-between gap-5 pt-${paddingTop}`}>
    {content.items.map((item) => (
        <div>
            <h4 class="text-2xl">{item.heading}</h4>
            {item.body.map((body) => {
                if (typeof body === 'string') {
                    return (
                        <p class="py-2">{body.split("\n").map((sect) => (
                            <span>{sect}</span><br/>
                        ))}</p>
                    )
                } else if (typeof body === 'object') {
                    if (body.type === 'list') {
                        return (
                            <ListPond decoration={body.decoration} items={body.items} />
                        )
                    }
                }
            })}
        </div>
    ))}
</section>