---

interface Props {
    label: string,
    color: string,
    fontColor: string
    href: string,
    mini?: boolean,
    className?: string,
    id?:string
};

const { label, color, fontColor, href, mini, className, id='' } = Astro.props;

---
{mini &&
    <a id={id} href={href} class={`bg-${color}-400 text-${fontColor} text-center font-bold px-2 rounded-md outline outline-2 outline-${color}-900 hover:bg-${color}-300 mx-2 ${className}`}>
        {label}
    </a>
    ||
    <a id={id} href={href} class={`mt-4 bg-opacity-80 hover:shadow-md hover:bg-opacity-60 duration-200 transition-all text-${fontColor} font-bold pt-[9px] pb-[10px] px-4 rounded-md shadow-black bg-${color}-400 ${className}`}>
        {label}
    </a>
}