---
import TeamManageLayout from "../../../../layouts/TeamManageLayout.astro";
import { is_team_manager, perms_has_one_of, verify_user } from "../../../../util/authUtils";
import type { PlayerTeams, Team, TeamManage, User } from "../../../../util/srlmTypes";
import { leave_team, srlm_get, srlm_put } from "../../../../util/srlmUtils";
import placeholderImg from "../../../../assets/placeholder.png";
import { Image } from 'astro:assets';
import type { ImageMetadata } from "astro";
import { getTimeStr, writeFile } from "../../../../util/fileUtils";

var { team_id } = Astro.params;

var user_token = Astro.cookies.get('user_token')?.value;
if (!user_token) {
    user_token = '';
}
const perms = ['admin', 'team_owner', 'team_manager', 'leag_coord', 'leag_comm'];
const user_validate = await verify_user(user_token, perms);
const user_is_elevated = perms_has_one_of(user_validate, ['admin', 'leag_coord', 'leag_comm']);
const user_is_owner = perms_has_one_of(user_validate, ['team_owner']);
const user_is_manager = is_team_manager(user_validate, [+team_id]);

const team: TeamManage = await srlm_get(`/teams/${team_id}/manage`);

const user: User = await srlm_get(`/users/${user_validate.user}`, user_token);
var player_team: Team;
if (user.player) {
    const resp: PlayerTeams = await srlm_get(`/players/${user.player}/teams?current=true&cached=False`);
    if (resp) {player_team = resp.current_team};
}

var user_is_player = false;
if (player_team) {
    user_is_player = (player_team.id === team.id);
}

if (!user_is_player && !user_is_elevated) {
    return Astro.redirect(`/league/teams/${team.id}`);
}

var errors = null;

if (Astro.request.method === "POST") {
    const form_data = await Astro.request.formData();
    const action = form_data.get('action')?.toString();

    var team_update_data = {}
                                  
    switch (action) {
        case 'leave-team':
            await leave_team(user.player);
            break;
        case 'upload':
            const file = form_data.get('file') as File;
            const fileType = file.type.replace('image/', '.');
            const dbFilepath = `${getTimeStr()}${team.id}${fileType}`;
            const destFilepath = `/public/upload/team-logos/${dbFilepath}`;
            await writeFile(destFilepath, file);
            team_update_data['logo'] = dbFilepath;
            break;
        case 'remove':
            team_update_data['logo'] = null;
            break;
        case 'update':
            var name = form_data.get('name').toString();
            var acronym = form_data.get('acronym').toString();
            var color = form_data.get('color').toString();
            var founded = form_data.get('founded')?.toString();

            team_update_data['name'] = name;
            team_update_data['acronym'] = acronym;
            team_update_data['color'] = color.replace('#', '');
            if (founded !== '') {
                var date = new Date(founded);
                team_update_data['founded_date'] = date;
            }
            break;
    }

    if (Object.keys(team_update_data).length > 0) {
        const update = await srlm_put(`/teams/${team.id}`, '', team_update_data);
        if (update) {
            if (update.status && update.status === 409) {
                errors = {};
                update.data.fields.map(err => {
                    errors[err.field] = err.error;                
                })
            } else {
                return Astro.redirect(`/manage/teams/${team.id}`);
            }
        }
    } else {
        return Astro.redirect(`/manage/teams/${team.id}`);
    }
}

var team_logo = null;
if (team.logo) {
    const images = import.meta.glob<{default: ImageMetadata}>('/public/upload/team-logos/*.{jpeg,jpg,png,gif}')
    team_logo = images[`/public/upload/team-logos/${team.logo}`]()
}

---
<TeamManageLayout 
    title={`Manage Team: ${team.name}`}
    team={team}
    page="details"
    user_elevated={user_is_elevated}
    user_owner={user_is_owner}
    user_manager={user_is_manager}
    user_player={user_is_player}>
    <div class="flex divide-x-2 divide-gray-500 justify-center">
        <div class="mx-10 w-52">
            <Image 
                class="rounded-full h-40 w-40 text-center text-white mx-auto" 
                alt={`${team.name} logo`}
                height={500}
                width={500}
                src={team_logo || placeholderImg} />

            <div class="mt-5 mx-auto flex justify-center">
                <button id="show-upload" class="bg-gray-400 text-black font-bold px-2 rounded-md outline outline-2 outline-gray-900 hover:bg-gray-300 mx-2">
                    Upload
                </button>
                {team_logo &&
                    <form method="post">
                        <input type="text" name="action" value="remove" hidden/>
                        <button id="remove" class="bg-gray-400 text-black font-bold px-2 rounded-md outline outline-2 outline-gray-900 hover:bg-gray-300 mx-2">
                            Remove
                        </button>
                    </form>
                }
                <div id="upload-popup" style="display:none;" class="fixed flex w-screen h-screen z-50 bg-gray-900 bg-opacity-80 top-0 left-0 right-0 bottom-0">
                    <div class="mx-auto my-20 bg-gray-700 w-fit h-fit p-10 rounded-md shadow-lg shadow-black">
                        <Image
                            src={placeholderImg}
                            alt=""
                            class="rounded-full h-60 w-60 text-center text-white mx-auto mb-10"
                            id="upload-preview"
                        />
                        <form method="post" enctype="multipart/form-data">
                            <input type="text" name="action" value="upload" hidden/>
                            <input type="file" id="file-upload" name="file" accept=".jpg, .jpeg, .png, .gif" required/><br>
                            <button id="upload" class="mt-5 bg-gray-400 text-black font-bold px-2 rounded-md outline outline-2 outline-gray-900 hover:bg-gray-300 mx-2">
                                Upload
                            </button>
                            <a id="hide-upload" class="bg-gray-400 text-black font-bold px-2 pb-[2px] pt-[1px] rounded-md outline outline-2 outline-gray-900 hover:bg-gray-300 mx-2 hover:cursor-pointer">
                                Cancel
                            </a>
                        </form>
                    </div>
                </div>
        </div>
            <script>
                var placeholder = document.getElementById('upload-preview').getAttribute('src');
                try {
                    document.getElementById('remove').onclick = function confirmLeave(e) {
                        if (!confirm('Are you sure you wish to remove the current logo?'))
                            e.preventDefault();
                    };
                } catch (err) {};
                document.getElementById('show-upload').onclick = function showUpload() {
                    document.getElementById('upload-popup').style.display = 'block';
                }
                document.getElementById('hide-upload').onclick = function hideUpload() {
                    document.getElementById('upload-popup').style.display = 'none';
                    //@ts-ignore
                    document.getElementById('file-upload').value = '';
                    document.getElementById('upload-preview').setAttribute('src', placeholder)
                }
                const fileInput = document.getElementById('file-upload');
                const previewLogo = () => {
                    //@ts-ignore
                    const file = fileInput.files;
                    if (file) {
                        const fileReader = new FileReader();
                        const preview = document.getElementById('upload-preview');

                        fileReader.onload = event => {
                            //@ts-ignore
                            preview.setAttribute('src', event.target.result);
                        }
                        fileReader.readAsDataURL(file[0]);
                    }
                }
                fileInput.addEventListener('change', previewLogo);
            </script>
        </div>
        <div class="text-center w-[70%]">
            <form method="post" class="w-fit mx-auto">
                <input type="text" name="action" value="update" hidden/>
                <table>
                    <input id="user-elevated" style="display:none" value={user_is_elevated}></input>
                    <tr>
                        <td class="p-2">Name:</td>
                        <td class="p-2">
                            
                            <input type="text" name="name" id="name" value={team.name} class="text-black indent-2 rounded-sm outline outline-2 outline-gray-400" required/>
                            {(errors && errors['name']) && (
                                <br/>
                                <span class="text-red-600 font-bold">
                                    {errors['name']}
                                </span>  
                            )}
                        </td>
                    </tr>
                    <tr>
                        <td class="p-2">Acronym:</td>
                        <td class="p-2">
                            <input type="text" name="acronym" id="acronym" value={team.acronym} class="text-black indent-2 rounded-sm outline outline-2 outline-gray-400" required/>
                            {(errors && errors['acronym']) && (
                                <br/>
                                <span class="text-red-600 font-bold">
                                    {errors['acronym']}
                                </span>  
                            )}
                        </td>
                    </tr>
                    <script>
                        //@ts-ignore
                        const userElevated = document.getElementById('user-elevated').value;
                        if (!userElevated) {
                            //@ts-ignore
                            document.getElementById('name').disabled = true;
                            //@ts-ignore
                            document.getElementById('acronym').disabled = true;
                        }
                    </script>
                    <tr>
                        <td class="p-2">Founded:</td>
                        <td class="p-2">
                            {/**@ts-ignore*/}
                            <input type="date" name="founded" id="founded" 
                                value={team.founded}
                                class="text-black rounded-sm outline outline-2 outline-gray-400" />
                            <script>
                                const dateInput = document.getElementById('founded');
                                //@ts-ignore
                                if (dateInput.value) {
                                    //@ts-ignore
                                    dateInput.disabled = true;
                                }
                            </script>
                        </td>
                    </tr>
                    <tr>
                        <td class="p-2">Colour:</td>
                        <td class="p-2">
                            <input type="color" name="color" id="color" value={`#${team.color.toUpperCase()}`} required class="text-black indent-2 rounded-sm outline outline-2 outline-gray-400" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="py-4">
                            <button id="update" class="bg-gray-400 text-black font-bold px-2 rounded-md outline outline-2 outline-gray-900 hover:bg-gray-300 mx-2">
                                Update
                            </button>
                        </td>
                    </tr>
                </table>
                
            </form>
        </div>
    </div>
</TeamManageLayout>