---
import Layout from "../../../../layouts/Layout.astro";
import type { SeasonDivision } from "../../../../util/srlmTypes";
import { convert_link, srlm_get } from "../../../../util/srlmUtils";

var {season, division} = Astro.params;

// if (division == 'im') {division = 'intermediate'}

const season_division: SeasonDivision = await srlm_get(`/season_division?league=osl&season=${season}&division=${division}`);

if (!season_division) {
    return Astro.redirect(`/league/seasons/${season}`)
}

type Teams = {
    id: number;
    season: string;
    division: string;
    league: string;
    _links: {
        self: string;
        season_division: string;
        league: string;
    },
    teams: Array<{
        id: number;
        name: string;
        acronym: string;
        color: string;
        players: Array<{
                id: number;
                name: string;
                dates: Array<{
                    start: Date;
                    end: Date;
                }>
                _links: {
                    self: string;
                }
        }>
        _links: {
            self: string;
        }
    }>;
}

const teams: Teams = await srlm_get(`/season_division/${season_division.id}/teams`);


---
<Layout title="SeasonDivision">
    <main class="py-10 sm:container mx-auto text-white">
        <h2>{season_division.season.name}: {season_division.division.name}</h2>
        <a href={`/league/match/create?season_division=${season_division.id}`}>Create Match</a>
        <div>
            <h3>Teams:</h3>
            <p>
                {teams && (teams.teams.length > 0) &&
                    <ul>
                        {
                            teams.teams.map(team => (
                                <li>
                                    <table>
                                        <tr><a href={convert_link(team._links.self)}>{team.name} ({team.acronym})</a></tr>
                                        <tr>
                                            <td>Player</td>
                                            <td>Periods</td>
                                            <td>Goals</td>
                                            <td>Shots</td>
                                            <td>Assists</td>
                                            <td>Saves</td>
                                        </tr>
                                        {
                                            team.players.map(player => (
                                                <tr>
                                                    <td><a href={`//${Astro.url.host}/league/players/${player.id}`}>{player.name}</a></td>
                                                    <td>stats</td>
                                                    <td>will</td>
                                                    <td>go</td>
                                                    <td>in</td>
                                                    <td>here</td>
                                                </tr>
                                            ))
                                        }
                                        
                                    </table>
                                </li>
                            ))
                        }
                    </ul>
                }
                This page will show the teams, the standings, scores, leaderboards etc.
                All the main details people want to see
            </p>
        </div>
    </main>
</Layout>

