---
import Layout from "../../../layouts/Layout.astro";
import { perms_has_one_of, verify_user } from "../../../util/authUtils";
import type { Season } from "../../../util/srlmTypes";
import { date_is_none, srlm_get } from "../../../util/srlmUtils";

var can_edit = false;

const user_token = Astro.cookies.get('user_token')?.value;
if (user_token) {
    const perms_test = ['admin', 'leag_comm', 'leag_coord']
    const user_verify = await verify_user(user_token, perms_test);
    if (user_verify) {
        if (perms_has_one_of(user_verify, perms_test)) {
            can_edit = true;
        }
    }
}

const { season_id } = Astro.params;

const cached = Astro.url.searchParams.get('cached')! || true;
const season: Season = await srlm_get(`/seasons/${season_id}?league=osl&cached=${cached}`);
if (!season) {
    return Astro.redirect('/league/seasons')
}


const start_date = date_is_none(season.start_date);
const end_date = date_is_none(season.end_date);
const finals_start = date_is_none(season.finals_start);
const finals_end = date_is_none(season.finals_end);

const base_url = Astro.url.host;

function convert_sd_link(season_division) {
    const path_to_sd = `//${base_url}/league/seasons/${season.acronym}/${season_division.acronym}`;

    return path_to_sd;
}

---
<Layout title="Season">
    <main class="py-10 sm:container mx-auto text-white">
        <div class="pt-3 pb-10">
            <h1 class="text-4xl pb-3">{season.name} 
                {can_edit &&
                    <span class="text-xl pl-5"><a href={`/league/seasons/${season.acronym}/edit`}>(Edit details)</a></span>
                    <span class="text-xl pl-5"><a href={`/league/seasons/${season.acronym}/manage-divisions`}>(Add divisions)</a></span>
                }
            </h1>
            <hr>
            <h3 class="text-2xl pt-5">Timeline:</h3>
            <div class="flex flex-wrap justify-between max-w-96">
                <div class="pb-3">
                    <h4 class="text-xl pb-1 pt-2">Regular Season</h4>
                    <p>Start: {start_date}</p>
                    <p>End: {end_date}</p>
                </div>
                <div>
                    <h4 class="text-xl pb-1 pt-2">Finals</h4>
                    <p>Start: {finals_start}</p>
                    <p>End: {finals_end}</p>
                </div>
            </div>
            This page to have an overview of all the divisions in that season.. List of stats, maybe some leaderboards. Full info on each division can be found by clicking on the links below
            
            {season.divisions && (season.divisions.length > 0) && 
                <hr class="mt-5 mb-3">
                    <h3 class="text-2xl">Divisions</h3>
                    <div class="flex flex-wrap justify-evenly pt-3 divide-x-2">
                        {season.divisions.map(division => (
                            <div class="min-w-[33.33%] px-5">
                                <div class="font-bold bg-osl-blue-700 rounded-md hover:bg-blue-400 transition-colors duration-300 mt-2">
                                    <a href={convert_sd_link(division)}><p class="py-3 text-center">{division.name}</p></a>
                                </div>
                            </div>
                        ))}
                </div>
            }
        </div>
    </main>
</Layout>