---
import Layout from "./Layout.astro";
import type { TeamManage } from "../util/srlmTypes";
import { colorCalc } from "../util/srlmUtils";

interface Props {
	title: string,
    team: TeamManage|null,
    page: string,
    userElevated: boolean,
    userOwner: boolean,
    userManager: boolean,
    userPlayer: boolean
    userHasTeam: boolean,
}

const { title, team, page, userElevated, userOwner, userManager, userPlayer, userHasTeam } = Astro.props;

function getPageTitle(page: string) {
    switch(page) {
        case 'details':
            return 'Team Details';
        case 'roster':
            return 'Current Roster';
        case 'invite':
            return 'Invite Players';
        case 'apply':
            return 'Apply to Season';
        case 'owned':
            return 'Owned Teams';
        case 'list':
            return 'List Teams';
        case 'create':
            return 'Create Team';
        case 'invites':
            return 'Invites';
        default:
            return
    }
}

---
<Layout title={title}>
    <main class="py-10 sm:container mx-auto text-white text-center z-10">
        <div class="rounded-md relative shadow-md shadow-black mx-auto bg-gray-800 min-h-[40rem] z-10">
            <div class="w-52 bg-gray-700 absolute min-h-full rounded-l-md shadow-[rgba(0,0,15,0.5)_10px_5px_4px_0px]">
                {team &&
                    <div style="margin-bottom: -8px;">
                        <h4 class="font-bold py-3 rounded-tl-md text-xl" style={colorCalc(team.color)}>
                            {team.name}
                        </h4>
                        <hr>
                        <a href={`/manage/teams/${team.id}/`} class={`${(page === 'details') && 'bg-gray-800'} block hover:bg-gray-800 py-2 font-bold`}>
                            Details
                        </a>
                        <a href={`/manage/teams/${team.id}/roster`} class={`${(page === 'roster') && 'bg-gray-800'} block hover:bg-gray-800 py-2 font-bold`}>
                            Current Roster
                        </a>
                        {(userManager || userElevated) &&
                            
                            <a href={`/manage/teams/${team.id}/invite`} class={`${(page === 'invite') && 'bg-gray-800'} block hover:bg-gray-800 py-2 font-bold`}>
                                Invite Players
                            </a>
                            <a href={`/manage/teams/${team.id}/apply`} class={`${(page === 'apply') && 'bg-gray-800'} block hover:bg-gray-800 py-2 font-bold`}>
                                Apply to Season
                            </a>
                        }
                        {userPlayer &&
                            <span class="block py-2 font-bold mb-2">
                                <form method="post">
                                    <input type="text" name="action" value="leave-team" hidden/>
                                    <button id="leave" formaction={`/manage/teams/${team.id}/roster`} class="bg-red-500 bg-opacity-70 px-5 py-1 hover:bg-red-700 hover:cursor-pointer rounded-md">
                                        Leave Team
                                    </button>
                                </form>
                                <script>
                                    //@ts-ignore
                                    document.getElementById('leave').onclick = function confirmLeave(e) {
                                        if (!confirm('Are you sure you wish to leave your current team?')) 
                                            e.preventDefault();
                                    };
                                </script>
                            </span>
                        }
                        {(!userPlayer && userOwner && !userHasTeam) &&
                            <span class="block py-2 font-bold mb-2">
                                <form method="post">
                                    <input type="text" name="action" value="rejoin-team" hidden/>
                                    <button id="leave" formaction={`/manage/teams/${team.id}/roster`} class="bg-green-500 bg-opacity-70 px-5 py-1 hover:bg-green-700 hover:cursor-pointer rounded-md">
                                        Rejoin Team
                                    </button>
                                </form>
                            </span>
                        }
                        <hr><hr><hr>
                    </div>
                }
                {!userHasTeam &&
                    <div style="margin-bottom: -8px;">
                        <a href={`/manage/teams/invites`} class={`${(page === 'invites') && 'bg-gray-800'} block hover:bg-gray-800 py-2 font-bold mt-2`} style="margin-bottom: -8px;">
                            View Invites
                        </a>
                        <a href={`/manage/teams/create`} class={`${(page === 'create') && 'bg-gray-800'} block hover:bg-gray-800 py-2 font-bold mt-2`}>
                            Create Team
                        </a>
                        <hr/><hr/><hr/>
                    </div>
                }
                {userElevated &&
                    <div style="margin-bottom: -8px;">
                        <a href={`/manage/teams/list`} class={`${(page === 'list') && 'bg-gray-800'} block hover:bg-gray-800 py-2 font-bold mt-2`}>
                            List All Teams
                        </a>
                        <hr/><hr/><hr/>
                    </div>
                }
                <div>
                    <a href={`/manage/teams/owned`} class={`${(page === 'owned') && 'bg-gray-800'} block hover:bg-gray-800 py-2 font-bold mt-2`}>
                        My Owned Teams
                    </a>
                </div>
                
            </div>
            <div class="pl-52 divide-y-2 divide-gray-600">
                <h2 class="text-3xl py-5">
                    {getPageTitle(page)}
                </h2>
                <div class="p-5">
                    <slot />
                </div>
            </div>
        </div>
    </main>
</Layout>